@import '../../index.css';

.app__hero{
    display: flex;
    .app__hero-content{
        width: 60%;
        p{
            margin: 20px 0;
        }
        a{
            margin: 60px 0;
            display: table;
        }
    }
    .app__hero-image{
        width: 40%;
        text-align: center;
    }
}