@import '../../index.css';

.app__services {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .app__services-card {
        width: 33.33%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        .app__services-content{
            h3{
                margin: 10px 0;
            }
        }
        .app__services-image {
            width: 100%;
            height: 350px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}