@import '../../index.css';

.app__secondary{
	padding-bottom: 20px;
	.swiper-wrapper{
		width: 10000%;
		padding-bottom: 80px;
	}
	.swiper-pagination{
		.swiper-pagination-bullet{
			width: 15px;
			height: 15px;

			&.swiper-pagination-bullet-active{
				background-color: var(--secondary-anchor-bg-hover-color);
			}
		}
	}
}

.app__services-header {
	text-align: center;
	margin-bottom: 60px;
}

.app__services {
	display: flex;
	flex-direction: row;
	gap: 30px;

	.app__services-card {
		width: 33.33%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-end;
		
		.app__services-content {
			height: 100%;
			overflow: hidden;
			padding: 10px 0px;
			text-align: center;

			h3 {
				margin: 10px 0;
		
			}

			p {
				margin-bottom: 20px;
			
			}

			span {
				background: var(--secondary-anchor-bg-color);
				color: var(--secondary-bg-color);
				padding: 0.5rem 0.8rem;
				border-radius: 0.4rem;
			}
		}

		.app__services-image {
			width: 100%;
			height: 350px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
}