@import '../../index.css';

.app__secondary {
	padding-bottom: 20px;

	.swiper-wrapper {
		width: 10000%;
		padding-bottom: 80px;
	}

	.swiper-pagination {
		.swiper-pagination-bullet {
			width: 15px;
			height: 15px;

			&.swiper-pagination-bullet-active {
				background-color: var(--secondary-anchor-bg-hover-color);
			}
		}
	}
}

.app__services-header {
	text-align: center;
	margin-bottom: 60px;
}

.app__services {
	display: flex;
	flex-direction: row;
	gap: 30px;

	.app__services-card {
		width: 33.33%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-end;

		.app__services-content {
			height: 100%;
			overflow: hidden;
			padding: 10px 0px;
			text-align: center;

			h3 {
				margin: 10px 0;
				overflow: hidden;

			}

			p {
				margin-bottom: 20px;

			}

			span {
				background: var(--secondary-anchor-bg-color);
				color: var(--secondary-bg-color);
				padding: 0.5rem 0.8rem;
				border-radius: 0.4rem;
			}
		}

		.app__services-image {
			width: 100%;
			height: 420px;
			overflow: hidden;
			position: relative;

			img.simple {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 30px;
				position: relative;
				z-index: 0;
				padding: 20px;

			}

			img.overlay {
				position: absolute;
				width: 90%;
				height: 90%;
				display: block;
				z-index: 0;
				top: 0;
				left: 0;
				object-fit: cover;
				border-radius: 10px;
				transform: translateX(19px) translateY(19px) rotate(5deg);
				filter: brightness(1) invert(1) grayscale(100px);
				opacity: 0.5;
				transition: 0.2s all ease-out;
			}
		}
	}
}