@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 40px;
}

:root {
    /*font- varients*/
    /* Large Devices */
    --H1: 900 65px/90px 'Poppins', sans-serif;
    --H2: 800 55px/76px 'Poppins', sans-serif;
    --H3: 800 38px/52px 'Poppins', sans-serif;
    --H4: 600 28px/38px 'Poppins', sans-serif;
    --H5: 500 22px/30px 'Poppins', sans-serif;
    --H6: 500 18px/29px 'Poppins', sans-serif;
    --text-base: 400 16px/24px 'Poppins', sans-serif;

    /*Color variations*/
    /* primaryColors */
    --primary-bg-color: #022C43;
    --primary-heading-color: #00818A;
    --primary-text-color: #DBEDF3;
    --primary-text-hover-color: #f5f5f5;
    --primary-button-bg-color: #153B44;
    --primary-button-bg-hover-color: #2D6E7E;
    --primary-anchor-bg-color: #0EA293;
    --primary-anchor-bg-hover-color: #27E1C1;

    /* SecoundaryColors */
    --secondary-bg-color: #ffff;
    --secondary-heading-color: #072227;
    --secondary-text-color: #383838;
    --secondary-text-hover-color: #2C3333;
    --secondary-button-bg-color: #62CDFF;
    --secondary-button-bg-hover-color: #00E7FF;
    --secondary-anchor-bg-color: #00A8CC;
    --secondary-anchor-bg-hover-color: #0C7B93;

}

h1 {
    font: var(--H1);
}

h2 {
    font: var(--H2);
}

h3 {
    font: var(--H3);
}

h4 {
    font: var(--H4);
}

h5 {
    font: var(--H5);
}

h6 {
    font: var(--H6);
}

a,
p li,
span,
input,
button,
textarea {
    font: var(--text-base);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a.button,
button {
    padding: .8rem 2rem;
    border-radius: 10px;
}